[submodule "submodules/RolandK.AvaloniaExtensions.ExceptionHandling"]
	path = submodules/RolandK.AvaloniaExtensions.ExceptionHandling
	url = https://github.com/RolandKoenig/RolandK.AvaloniaExtensions.ExceptionHandling.git
